version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend