apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 052368238934.dkr.ecr.eu-north-1.amazonaws.com/backend:IMAGE_TAG/backend:latest
          ports:
            - containerPort: 5000